body
{
margin: 0;
padding: 0;
overflow: hidden;
height: calc(100%);
width: 100vw;
background-image: url("images/1.jpg");
background-size: cover;
background-position: bottom;
font-family: 'Sen', sans-serif;

}
header
{
    height: 100px;
    width: calc(100%);  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
header .nav 
{

    display: flex;
    justify-content: space-between;
}
header .logo
{
    display:inline-block;
    padding: 30px;
    padding-left: 10px;
    width: 200px;
    height: 50px;
    background-image: url("dejavu.png");
    background-size: cover;
    background-position: center;
}

header .nav ul
{
    list-style-type: none;
    display: flex;
    vertical-align: middle;
}
header .nav ul li
{
    padding-left: 10px;
    padding-right: 20px;
    vertical-align: middle;
}
header .nav ul li:nth-child(5)
{
    padding-top: 5px;
}
header .nav ul li img
{
opacity: 0.9;
}
.container
{
    position: absolute;
height: 100vh;
width: calc(100%);
display: flex;
left: 0;
top: 0;

}
.container .box
{
    height: calc(100%);
    transition: 0.7s;
    flex-grow: 1;
    border-left: 1px solid black;
    width: 168.53px;
}
.container .box:nth-child(1) .content 
{
    display:block ;
    position: relative;
    top: 40% !important;
    left: calc(50% - 40.45px);
    width: 90px;
}
.container .box:nth-child(1) .content h1
{
    color: rgb(12, 218, 218);
    font-size: 7rem;
    padding: 0;
   margin: 0;
   font-family: 'Poppins', sans-serif;
}
.container .box:nth-child(1) .content h3
{
    display: none;
    padding: 0;
    margin: 0;
}


.container .box:hover
{
    flex-grow: 9;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    transition: 0.7s;
}

.container .box:nth-child(1):hover .content
{   position: relative;
    top: 0 !important;
    left: 0 !important;
     display: flex ;
     width: 100%;
     height: 22%;
     margin: 0;
     padding: 0;
     align-items: flex-end;
     justify-content: center;
     border-bottom: none !important;
     transition: 0.7s;
}
.container .box:nth-child(1):hover .content h1
{
    position: relative;
    font-size: 3rem;
    transition: 0.7s;
    font-family: 'Calistoga', cursive;
    color:  rgb(7, 245, 245);
    transition: 0.7s;
}
.container .box:nth-child(1):hover .content h3
{
display: block;
font-size: 3rem;
color:white;
transition: 0.7s;
font-family: 'Calistoga', cursive;
}
.container .box:nth-child(1) .body
{
display: none;
position: relative;
top: 10%;
height: 10px;
width: 10px;
transition: 0.7s;
}
.container .box:nth-child(1):hover .body
{
    display:inline-block;
    font-size: 3rem;
    margin-top: 160px;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-left: none;
    transition: 0.7s;
    width: 275px;
    height: 300px;
    padding-left: 15px;
    padding-top: 10px;
}

.container .box:nth-child(1):hover .body:hover
{
 color: black;
 background-color: white;
 width: 310px;
}
.container .box:nth-child(2) .content 
{
    display:block ;
    position: relative;
    top: 40% !important;
    left: calc(50% - 40.45px);
    width: 90px;

}
.container .box:nth-child(2) .content h1
{
    color: rgb(12, 218, 218);
    font-size: 7rem;
    padding: 0;
   margin: 0;
   transition: 0.7s;
   font-family: 'Poppins', sans-serif;
}
.container .box:nth-child(2) .content h3
{
    display: none;
    padding: 0;
    margin: 0;
}
.container .box:nth-child(2):hover
{
  background-color: rgb(3, 3, 3);
  opacity: 0.9;
}
.container .box:nth-child(2):hover .content
{   position: relative;
    top: 0 !important;
    left: 0 !important;
     display: flex ;
     width: 100%;
     height: 22%;
     margin: 0;
     padding: 0;
     align-items: flex-end;
     justify-content: center;
     border-bottom: none !important;
     transition: 0.7s;
    }
.container .box:nth-child(2):hover .content h1
{
    position: relative;
    font-size: 3rem;
    transition: 0.7s;
    font-family: 'Calistoga', cursive;
    color:  rgb(7, 245, 245);
}
.container .box:nth-child(2):hover .content h3
{
display: block;
font-size: 3rem;
color:white;
transition: 0.7s;
font-family: 'Calistoga', cursive;
}
.container .box:nth-child(2) .event_div
{
 display: none;
   margin-top: 200px;
   padding-top:  0px;
position: relative;
font-size: 3rem;
width: 100%;
padding: 20px;
padding-left: 0;
transition: 0.7s;
justify-content: center;
display: block;
}
.container .box:nth-child(2) .event_div .events
{
    display: none;
    margin-top: 0;
    padding-top:  0;
list-style-type: none;
font-size: 3rem;
justify-content: center;
align-items: center;
transition: 0.7s;

}
.container .box:nth-child(2).event_div .events li
{
    margin-top: 25px;
    margin-left: 65px;
    transition: 0.7s;
    
}
.container .box:nth-child(2) .event_div .events li a
{
    margin-top: 0;
    padding: top 0;
text-decoration: none;
color: white;
}

.container .box:nth-child(2):hover .event_div
{
    margin-top: 50px;
    padding-top:  0;
position: relative;
font-size: 3rem;
width: 100%;
padding: 20px;
padding-left: 0;
transition: 0.7s;
justify-content: center;
display: block;
}
.container .box:nth-child(2):hover .event_div .events
{
    margin-top: 0;
    padding:  0;
list-style-type: none;
font-size: 3rem;
transition: 0.7s;
display: block;
}
.container .box:nth-child(2):hover .event_div .events li
{
    margin-top: 25px;
    transition: 0.7s;
    border: 2px solid white;
    border-left: none;
    width: 240px;
    padding: 20px;
    padding-left: 0;
}
.container .box:nth-child(2):hover .event_div .events li:hover 
{
background-color: white;
width: 290px;
}
.container .box:nth-child(2):hover .event_div .events li:hover a
{
    color: black;
}

.container .box:nth-child(2):hover .event_div .events a
{
    margin-top: 0;
    padding: top 0;
    text-decoration: none;
}

.container .box:nth-child(3) .content 
{
    display:block ;
    position: relative;
    top: 40% !important;
    left: calc(50% - 40.45px);
    width: 90px;

}
.container .box:nth-child(3) .content h1
{
    color: rgb(12, 218, 218);
    font-size: 7rem;
    padding: 0;
   margin: 0;
   transition: 0.7s;
   font-family: 'Poppins', sans-serif;
}
.container .box:nth-child(3) .content h3
{
    display: block;
    font-size:3rem;
    padding: 0;
    margin: 0;
    width: 200px;
    opacity: 0;
}
.container .box:nth-child(3):hover
{
  background-color: rgb(3, 3, 3);
  opacity: 0.9;
}
.container .box:nth-child(3):hover .content
{   position: relative;
    top: 0 !important;
    left: 0 !important;
     display: flex ;
     width: 100%;
     height: 22%;
     margin: 0;
     padding: 0;
     align-items: flex-end;
     justify-content: center;
     border-bottom: none !important;
     transition: 0.7s;
    }
.container .box:nth-child(3):hover .content h1
{
    position: relative;
    font-size:3rem;
    transition: 0.7s;
    font-family: 'Calistoga', cursive;
    color:  rgb(7, 245, 245);
}
.container .box:nth-child(3):hover .content h3
{
display: block;
font-size:3rem;
color:white;
transition: 0.7s;
font-family: 'Calistoga', cursive;
opacity: 1;
}
.container .box:nth-child(3) .sodiv
{
    position: relative;
    top: 20%;
    height: 150px;
    width: 100%;
    list-style-type: none;
    opacity: 0;
}
.container .box:nth-child(3):hover .sodiv
{
    position: relative;
    top: 30%;
    height: 150px;
    width: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container .box:nth-child(3):hover .sodiv .social
{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
    height: 265px;
    align-items: center;
    border: 2px solid white;
}
.container .box:nth-child(3):hover .social li 
{
    margin: 72.5px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
    width: 55px;
}
.container .box:nth-child(3):hover .sodiv .social li a
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    text-decoration: none;
    padding-top: 6px;
    color: rgb(255, 255, 255);
    font-size: 46px;
    transition: color .4s;
}
.container .box:nth-child(3):hover .sodiv .social li:nth-child(1) a:hover
{
    color: blue;
    transition: color .4s;
}
.container .box:nth-child(3):hover .sodiv .social li:nth-child(2) a:hover
{
    color: rgb(255, 0, 106);
    transition: color .4s;
}
.container .box:nth-child(3):hover .sodiv  .social li:nth-child(3) a:hover
{
    color: rgb(196, 0, 0);
    transition: color .4s;
}

.container .box:nth-child(4) .content 
{
    display:block ;
    position: relative;
    top: 40% !important;
    left: calc(50% - 40.45px);
    width: 90px;
}
.container .box:nth-child(4) .content h1
{
    color: rgb(12, 218, 218);
    font-size: 7rem;
    padding: 0;
   margin: 0;
   transition: 0.7s;
   font-family: 'Poppins', sans-serif;
}
.container .box:nth-child(4) .content h3
{
    display: none;
    padding: 0;
    margin: 0;
}
.container .box:nth-child(4):hover
{
  background-color: rgb(3, 3, 3);
  opacity: 0.9;
}
.container .box:nth-child(4):hover .content
{   position: relative;
    top: 0 !important;
    left: 0 !important;
     display: flex ;
     width: 100%;
     height: 22%;
     margin: 0;
     padding: 0;
     align-items: flex-end;
     justify-content: center;
     border-bottom: none !important;
     transition: 0.7s;
    }
.container .box:nth-child(4):hover .content h1
{
    position: relative;
    font-size:3rem;
    transition: 0.7s;
    font-family: 'Calistoga', cursive;
    color:  rgb(7, 245, 245);
}
.container .box:nth-child(4):hover .content h3
{
display: block;
font-size: 3rem;
color:white;
transition: 0.7s;
font-family: 'Calistoga', cursive;
}
.container .box:nth-child(4) .autologo
{
    height: 200px;
    width: 100%;
    margin-top: 100px;;
    background-image: url("autostrada.png");
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    display: none;

}
.container .box:nth-child(4) .date
{
    height: 205px;
    width: 50%;
    margin: 0;
    padding: 0;
   color: white;
   font-size:2rem ;
   border: 2px solid white;
   border-left: none;
   display: none;
   transition: 0.7s;
}
.container .box:nth-child(4):hover .autologo
{
    display: block;
}
.container .box:nth-child(4):hover .date
{
    display: block;
}
.container .box:nth-child(4):hover .date:hover
{
    width: 65%;
    background-color: white;
    color: black;
    transition: 0.7s;
}
.container .box:nth-child(4) .date h1
{
    margin: 20px;
    margin-left: 20px;
    padding: 0;
}
.container .box:nth-child(4) .social_media
{
height: 70px;
width: 100%;
align-content: center;
display: none;
}
.container .box:nth-child(4) .social_media ul
{
display: flex;
margin: 0;
padding: 0;
}
.container .box:nth-child(4):hover .social_media
{
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

}

.container .box:nth-child(4):hover .social_media ul
{
margin: 20px;
}
.container .box:nth-child(4) .social_media ul li
{
list-style-type: none;
height: 50px;
width: 50px;
margin: 0;
margin-left: 25px;
margin-right: 25px;
}
.container .box:nth-child(4) .social_media ul li a
{
    text-align: center;
    font-size: 35px;
    color: white;
    transition: color .4s;
}
.container .box:nth-child(4) .social_media ul li:nth-child(1) a:hover
{
    color: blue;
    transition: color .4s;
}
.container .box:nth-child(4) .social_media ul li:nth-child(2) a:hover
{
    color: rgb(255, 0, 106);
    transition: color .4s;
}
.container .box:nth-child(4) .social_media ul li:nth-child(3) a:hover
{
    color: rgb(196, 0, 0);
    transition: color .4s;
}
.container .box:nth-child(5)
{
    overflow: hidden;
}
.container .box:nth-child(5) .content 
{
    display:block ;
    position: relative;
    top: 40% !important;
    left: calc(50% - 40.45px);
    width: 90px;
}
.container .box:nth-child(5) .content h1
{
    color: rgb(12, 218, 218);
    font-size: 7rem;
    padding: 0;
   margin: 0;
   transition: 0.7s;
   font-family: 'Poppins', sans-serif;
}
.container .box:nth-child(5) .content h3
{
    display: none;
    padding: 0;
    margin: 0;
}
.container .box:nth-child(5):hover
{
  background-color: rgb(3, 3, 3);
  opacity: 0.9;
}
.container .box:nth-child(5):hover .content
{   position: relative;
    top: 0 !important;
    left: 0 !important;
     display: flex ;
     width: 100%;
     height: 22%;
     margin: 0;
     padding: 0;
     align-items: flex-end;
     justify-content: center;
     border-bottom: none !important;
     transition: 0.7s;
    }
.container .box:nth-child(5):hover .content h1
{
    position: relative;
    font-size:3rem;
    transition: 0.7s;
    font-family: 'Calistoga', cursive;
    color:  rgb(7, 245, 245);
}
.container .box:nth-child(5):hover .content h3
{
display: block;
font-size: 3rem;
color:white;
transition: 0.7s;
font-family: 'Calistoga', cursive;
}
.container .box:nth-child(5) .map_cont
{
display: none;
transition: .5s;
}
.container .box:nth-child(5):hover .map_cont
{
display: block;
height: 700px;
width: 500px;
transition: .5s;
}
.container .box:nth-child(5):hover .map_cont .map
{
margin-top: 30px;
}

.container .box:nth-child(6) .content 
{
    display:block ;
    position: relative;
    top: 40% !important;
    left: calc(50% - 40.45px);
    width: 90px;
}
.container .box:nth-child(6) .content h1
{
    font-size: 7rem;
    padding: 0;
   margin: 0;
   transition: 0.7s;
   color: rgb(12, 218, 218);
   font-family: 'Poppins', sans-serif;
}
.container .box:nth-child(6) .content h3
{
    display: none;
    padding: 0;
    margin: 0;
}
.container .box:nth-child(6):hover
{
  background-color: rgb(3, 3, 3);
  opacity: 0.9;
}
.container .box:nth-child(6):hover .content
{   position: relative;
    top: 0 !important;
    left: 0 !important;
     display: flex ;
     width: 100%;
     height: 22%;
     margin: 0;
     padding: 0;
     align-items: flex-end;
     justify-content: center;
     border-bottom: none !important;
     transition: 0.7s;
    }
.container .box:nth-child(6):hover .content h1
{
    position: relative;
    font-size: 3rem;
    transition: 0.7s;
    font-family: 'Calistoga', cursive;
    color:  rgb(7, 245, 245);
}
.container .box:nth-child(6):hover .content h3
{
display: block;
font-size:3rem;
color:white;
transition: 0.7s;
font-family: 'Calistoga', cursive;
}
.container .box:nth-child(6) h1
{
font-size: 0;

}
.container .box:nth-child(6) p{
    font-size: 0;

}
.container .box:nth-child(6):hover .hcet
{
 display: block;
    color: rgb(124, 0, 0);
  position: relative;
  left: 15%;
   margin-top: 75px;
   font-size: 2rem;
   transition: font-size , 0.5s;
   border-left:3px solid rgb(124, 0, 0); 
   padding-left: 20px;
   font-family: 'Sen', sans-serif;
    
}
.container .box:nth-child(6):hover p
{
    display: block;
    text-align: justify;
    width: 270px;
    color: white;
    position: relative;
    left: calc(45% - 100px);
    transition: font-size , 0.5s;
    font-size: 20px;
    border-right:3px solid rgb(255, 255, 255); 
    padding-right: 26px;
    opacity: .9;
    font-family: 'Sen', sans-serif;
}
